# Trabajo practico Nº4: Analisis de Estudiantes del IES21

In [10]:
import pandas as pd 
import numpy as np 
import plotly.express as px

In [3]:
df_alu_carrera = pd.read_csv("data/Alu_Carrera.csv", sep = ';')
df_alu_carrera.head(2)

,Id_Alumno,Id_Carrera,Semestre_Ingreso,Año_Ingreso,Id_Ctro_Ext,Id_Modalidad,Fecha_Ingreso,Activo,Sexo,Fecha_Nac
0,0x12DA11908B130262F20F714810A49680,6,2,2010,CO,P,2010-07-30 00:00:00,S,M,3/3/1991 00:00
1,0xFCDE4E2EACC469337D296ECE6B5083C6,17,1,2006,CO,P,2006-02-24 00:00:00,S,M,20/11/1954 00:00

In [4]:
df_Alu_Materia = pd.read_csv("data/Alu_Materia.csv", sep = ';')
df_Alu_Materia.head(2)

,Id_Alumno,Id_Carrera,Id_Materia,Semestre,Año,Fecha_Inscrip,Ctro_Ext,Id_Modalidad,Id_Comision,Nota_1p,Fecha_1p,Nota_2p,Fecha_2p,Nota_TP,Fecha_TP,Nota_Recup,Fecha_Recup,Cuatrimestre
0,0x003014EF4D7D79987F42DE8E3080AEFE,6,115,2,2006,2006-08-16 15:02:00,CO,P,7,11.0,2006-10-02 00:00:00,11.0,2006-11-20 00:00:00,11.0,2006-11-29 00:00:00,11.0,2006-11-27 00:00:00,4
1,0x003014EF4D7D79987F42DE8E3080AEFE,6,121,1,2005,2005-03-10 18:12:00,CO,P,7,11.0,2005-05-04 00:00:00,11.0,2005-06-22 00:00:00,10.0,2005-12-05 15:44:00,11.0,2005-06-28 00:00:00,2

In [5]:
df_finales = pd.read_csv("data/Finales.csv", sep=';')
df_finales.head(2)

,Id_Alumno,Id_Carrera,Id_Materia,Semetre_Cursada,Año_Cursada,Fecha_Examen,Nota,Fecha_Inscrip_Examen
0,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,68,1,2001,2001-07-27 00:00:00.000,9.0,NaN
1,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,69,1,2001,2001-07-24 00:00:00.000,10.0,NaN

In [6]:
df_carreras = pd.read_csv("data/Carreras.csv",sep=';')
df_carreras

,Id_Carrera,Nombre_Largo,Nombre_Corto,Abreviatura,Cuatrimestres
0,9,TECNICO SUPERIOR EN ADMINISTRACION AGROPECUARIA,AGRONEGOCIOS,AA,6
1,3,TECNICO SUPERIOR EN PUBLICIDAD,PUBLICIDAD,PUB,6
2,12,ANALISTA EN GESTION DE VENTAS,VENTAS,VTA,4
3,6,TECNICO SUPERIOR EN RELACIONES PUBLICAS E INST...,RELACIONES PÚBLICAS,RRPP,6
4,7,ADMINISTRADOR DE RECURSOS HUMANOS,RECURSOS HUMANOS,RRHH,6
5,1,ANALISTA DE SISTEMAS DE COMPUTACION,ANALISTA DE SISTEMAS,INF,6
6,18,TECNICO SUPERIOR EN LOGISTICA,LOGÍSTICA,LOG,6
7,10,TECNICO SUPERIOR EN TURISMO,TURISMO,TUR,6
8,41,AGENTE DE TRANSPORTE ADUANERO Y DESPACHANTE DE...,AGENTE DE TRANSP. ADUANERO Y DESP. DE ADUANA,ATA,4
9,4,TECNICO SUPERIOR EN ADMINISTRACION DE EMPRESAS,ADMINISTRACIÓN DE EMPRESAS,ADMIN,6
10,13,TECNICO SUPERIOR EN MULTIMEDIOS,MULTIMEDIOS,MM,6
11,5,DISEÑO GRAFICO Y PUBLICITARIO,DISEÑO GRÁFICO,DG,6
12,59,TÉCNICO SUPERIOR EN SERVICIOS DE PAISAJISMO,SERVICIOS DE PAISAJISMO,SERPAI,2
13,39,ADMINISTRADOR DE REDES,ADMINISTRADOR DE REDES,AR,4
14,16,TECNICO SUPERIOR EN GESTION JURIDICA,GESTIÓN JURíDICA,GJ,6
15,2,ANAL.DE MERC.Y ESTRAT. DE COMERCIALIZACION,MARKETING,MKT,6
16,17,TECNICO SUPERIOR EN GESTION CONTABLE Y FINANCIERA,GESTIÓN CONTABLE Y FINANCIERA,GCF,6
17,60,TÉC. SUP. EN DES. DE SIMULACIONES VIRTUALES Y ...,VIDEOJUEGOS,SVIRT,6
18,40,TÉCNICO EN SERVICIOS AGROPECUARIOS,TÉCNICO EN SERVICIOS AGROPECUARIOS,TSAGR,4
19,11,ASISTENTE GERENCIAL TRILINGÜE,TRILINGÜE,TRI,4
20,14,TECNICATURA SUPERIOR EN GESTION AMBIENTAL,GESTIÓN AMBIENTAL,GA,6
21,8,ANALISTA EN COMERCIO INTERNACIONAL,COMERCIO INTERNACIONAL,CI,6

In [7]:
#Ordene el df Carreras por idcarrera para saber el orden de creaccion de las mismas. 
df_carreras_ordenado = df_carreras.sort_values('Id_Carrera')
#df_carreras_ordenado

In [7]:
df_Materias = pd.read_csv("data/Materias.csv",sep=';')
df_Materias

     Id_Materia                                        Nombre
0             2                           HISTORIA DEL DISEÑO
1             3                  INTRODUCCIÓN A LA PUBLICIDAD
2             4                         ELEMENTOS DE DISEÑO I
3             5                         DISEÑO Y COMUNICACIÓN
4             6                                DISEÑOMÁTICA I
..          ...                                           ...
800         833  ELEGIR-TE:  TALLER DE ORIENTACIÓN VOCACIONAL
801         834                              EXCEL INTERMEDIO
802         835                    DESARROLLO DE “SOFT SKILLS
803         836        Introducción al modelado 3D en 3Ds Max
804         837     COMPETENCIAS DIGITALES PARA PROFESIONALES

[805 rows x 2 columns]

In [24]:
df_alu_carrera_Alu_Materia = pd.DataFrame()
df_alu_carrera_Alu_Materia = pd.merge(df_alu_carrera, df_Alu_Materia[['Id_Alumno','Id_Materia', 'Semestre', 'Año',
       'Fecha_Inscrip','Id_Modalidad', 'Id_Comision', 'Nota_1p',
       'Fecha_1p', 'Nota_2p', 'Fecha_2p', 'Nota_TP', 'Fecha_TP', 'Nota_Recup',
       'Fecha_Recup', 'Cuatrimestre']], on = 'Id_Alumno')
df_alu_carrera_Alu_Materia

,Id_Alumno,Id_Carrera,Semestre_Ingreso,Año_Ingreso,Id_Ctro_Ext,Id_Modalidad_x,Fecha_Ingreso,Activo,Sexo,Fecha_Nac,...,Id_Comision,Nota_1p,Fecha_1p,Nota_2p,Fecha_2p,Nota_TP,Fecha_TP,Nota_Recup,Fecha_Recup,Cuatrimestre
0,0x12DA11908B130262F20F714810A49680,6,2,2010,CO,P,2010-07-30 00:00:00,S,M,3/3/1991 00:00,...,7,11.0,2010-10-07 00:00:00,11.0,2010-11-10 00:00:00,5.0,2010-10-29 00:00:00,11.0,2010-11-16 00:00:00,1
1,0x12DA11908B130262F20F714810A49680,6,2,2010,CO,P,2010-07-30 00:00:00,S,M,3/3/1991 00:00,...,7,5.0,2010-09-29 00:00:00,11.0,2010-11-16 00:00:00,6.0,2010-11-15 00:00:00,11.0,2010-11-26 00:00:00,1
2,0x12DA11908B130262F20F714810A49680,6,2,2010,CO,P,2010-07-30 00:00:00,S,M,3/3/1991 00:00,...,7,7.0,2010-10-07 00:00:00,5.0,2010-11-04 00:00:00,3.0,2010-11-18 00:00:00,NaN,NaN,1
3,0x12DA11908B130262F20F714810A49680,6,2,2010,CO,P,2010-07-30 00:00:00,S,M,3/3/1991 00:00,...,7,1.0,2010-09-28 00:00:00,6.0,2010-11-02 00:00:00,6.0,2010-11-16 00:00:00,3.0,2010-11-16 00:00:00,1
4,0xFCDE4E2EACC469337D296ECE6B5083C6,17,1,2006,CO,P,2006-02-24 00:00:00,S,M,20/11/1954 00:00,...,7,7.0,2008-09-09 00:00:00,NaN,NaN,9.0,2008-10-08 00:00:00,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136400,0x24C9300567A882456A355E68B2980753,5,1,2001,CO,P,2001-03-06 00:00:00,S,F,25/10/1979 00:00,...,1,11.0,2003-09-29 00:00:00,8.0,2003-11-17 00:00:00,10.0,2005-12-05 15:44:00,2.0,2003-11-24 00:00:00,6
136401,0x24C9300567A882456A355E68B2980753,5,1,2001,CO,P,2001-03-06 00:00:00,S,F,25/10/1979 00:00,...,7,10.0,2003-05-05 00:00:00,2.0,2003-06-25 00:00:00,10.0,2005-12-05 15:44:00,2.0,2003-06-30 00:00:00,4
136402,0x24C9300567A882456A355E68B2980753,5,1,2001,CO,P,2001-03-06 00:00:00,S,F,25/10/1979 00:00,...,7,6.0,2003-10-06 00:00:00,4.0,2003-11-17 00:00:00,10.0,2005-12-05 15:44:00,8.0,2003-11-26 00:00:00,4
136403,0x24C9300567A882456A355E68B2980753,5,1,2001,CO,P,2001-03-06 00:00:00,S,F,25/10/1979 00:00,...,1,7.0,2001-05-03 00:00:00,7.0,2001-06-26 00:00:00,10.0,2005-12-05 15:44:00,NaN,NaN,1
136404,0x24C9300567A882456A355E68B2980753,5,1,2001,CO,P,2001-03-06 00:00:00,S,F,25/10/1979 00:00,...,1,5.0,2002-05-08 00:00:00,5.0,2002-06-19 00:00:00,10.0,2005-12-05 15:44:00,NaN,NaN,3

In [15]:
cant_alu_carr_años = df_alu_carrera.groupby(['Id_Carrera']).count()
cant_alu_carr_años

,Id_Alumno,Semestre_Ingreso,Año_Ingreso,Id_Ctro_Ext,Id_Modalidad,Fecha_Ingreso,Activo,Sexo,Fecha_Nac
Id_Carrera,,,,,,,,,
1,582,582,582,582,582,582,582,582,582
2,641,641,641,641,641,641,641,641,641
3,506,506,506,506,506,506,506,506,506
4,616,616,616,616,616,616,616,616,616
5,963,963,963,963,963,963,963,963,963
6,687,687,687,687,687,687,687,687,687
7,676,676,676,676,676,676,676,676,676
8,204,204,204,204,204,204,204,204,204
9,494,494,494,494,494,494,494,494,494
10,270,270,270,270,270,270,270,270,270
11,2,2,2,2,2,2,2,2,2
12,2,2,2,2,2,2,2,2,2
13,334,334,334,334,334,334,334,334,334
14,57,57,57,57,57,57,57,57,57
16,14,14,14,14,14,14,14,14,14
17,127,127,127,127,127,127,127,127,127
18,3,3,3,3,3,3,3,3,3
39,8,8,8,8,8,8,8,8,8
40,2,2,2,2,2,2,2,2,2
41,1,1,1,1,1,1,1,1,1
59,1,1,1,1,1,1,1,1,1
60,37,37,37,37,37,37,37,37,37

In [29]:
fig = px.pie(cant_alu_carr_años, values='Id_Alumno', names='Año_Ingreso', title='Porcentaje de incripcion de alumnos por carrera en historial de BD')
fig.show()